datafactory/pipeline/copy_data_test.json
{
	"name": "copy_data_test",
	"properties": {
		"activities": [
			{
				"name": "LookupMonth",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct month(collect_date) month from dbo.iris_demo_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLdb_demo_data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMonth').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data TXT",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT  [sepal_length_cm]\n      ,[sepal_width_cm]\n      ,[petal_length_cm]\n      ,[petal_width_cm]\n      ,[class]\n      ,[collect_date]\n  FROM [dbo].[iris_demo_data]\nwhere month(collect_date)  = ', item().month)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "sepal_length_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "sepal_length_cm",
												"type": "Decimal",
												"physicalType": "Decimal"
											}
										},
										{
											"source": {
												"name": "sepal_width_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "sepal_width_cm",
												"type": "Decimal",
												"physicalType": "Decimal"
											}
										},
										{
											"source": {
												"name": "petal_length_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "petal_length_cm",
												"type": "Decimal",
												"physicalType": "Decimal"
											}
										},
										{
											"source": {
												"name": "petal_width_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "petal_width_cm",
												"type": "Decimal",
												"physicalType": "Decimal"
											}
										},
										{
											"source": {
												"name": "class",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "class",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "collect_date",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "collect_date",
												"type": "DateTime",
												"physicalType": "DateTime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLdb_demo_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT  [sepal_length_cm]\n      ,[sepal_width_cm]\n      ,[petal_length_cm]\n      ,[petal_width_cm]\n      ,[class]\n      ,[collect_date]\n  FROM [dbo].[iris_demo_data]\nwhere month(collect_date)  = ', item().month)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "sepal_length_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "sepal_length_cm",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "sepal_width_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "sepal_width_cm",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "petal_length_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "petal_length_cm",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "petal_width_cm",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "petal_width_cm",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "class",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "class",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "collect_date",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "collect_date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLdb_demo_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "datasetparquet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}